<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>Verificar Numero Par ou Impar</title>
    </head>
    <body>
        <h1>Atividade 1</h1>        
        <h2>Nessa atividade você irá adicionar um numero qualquer e o site retornará dizendo se o numero é Positivo ou Negativo e se tambem é Par ou Impar</h2>
        <input type="text" id="ValorInserido" placeholder="Digite um Numero">
        <button onclick="Verifica()">Verifica</button>
        <div class="botao" ><a href="../../index.html">Voltar</a></div>
        <script src="atividade1.js"></script>
    </body>
</html>