<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>Calculo IMC</title>
    </head>
    <body>
        <h1>Atividade 2</h1>        
        <h2> Nessa atividade você irá adicionar seu peso e sua altura e o site ira informar o seu IMC</h2>
        <input type="float" id="peso" placeholder="Digite seu peso">
        <input type="float" id="altura" placeholder="Digite sua altura">
        <button onclick="Verifica()">Verifica</button>
        <div class="botao" ><a href="../../index.html">Voltar</a></div>
        <script src="atividade2.js"></script>
    </body>
</html>