<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Calculo modelo de Triangulo</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<h1>Atividade 3</h1>        
        <h2>Nessa atividade você irá adicionar os três lados de um triangulo qualquer e o site ira informar o modelo de triangulo</h2>
		<input type="number" id="NA" placeholder="Digite lado A"><br>
		<input type="number" id="NB" placeholder="Digite lado B"><br>
		<input type="number" id="NC" placeholder="Digite lado C"><br>
		<button type="button" onclick="cal_tri()"> Calcular </button><br>
		<div class="botao" ><a href="../../index.html">Voltar</a></div>
		<script src="atividade3.js"></script>
	</body>
</html>